appnope==0.1.0
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.2
coveralls==1.2.0
decorator==4.1.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==2.0.2
django-debug-toolbar==1.9.1
django-jenkins==0.110.0
django-pylibmc==0.6.1
django-pylibmc-sasl==0.2.4
django-toolbelt==0.0.1
docopt==0.6.2
fake-factory==0.7.4
factory-boy==2.9.2
Faker==0.8.7
feedparser==5.2.1
gnureadline==6.3.8
gunicorn==19.7.1
idna==2.6
ipdb==0.10.3
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
markdown2==2.3.5
parso==0.1.0
path.py==10.5
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
Pygments==2.2.0
pygments-style-solarized==0.1.1
pylibmc==1.5.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.1
requests==2.20.0
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
static3==0.7.0
text-unidecode==1.1
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
