{% extends "blogengine/includes/base.html" %}

    {% load custom_markdown %}

    {% block content %}
        {% for post in object_list %}
        <div class="post">
        <h1>{{ post.title }}</h1>
        <h3>{{ post.pub_date }}</h3>
        {{ post.text|custom_markdown }}
        </div>
        {% endfor %}

        {% if page_obj.has_previous %}
        <a href="/{{ page_obj.previous_page_number }}/">Previous Page</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="/{{ page_obj.next_page_number }}/">Next Page</a>
        {% endif %}

    {% endblock %}
